//Susy setup ------------------------------------
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 1em;
$grid-padding         : $gutter-width;

@include border-box-sizing;

$small                : 30em;
$medium               : 47em;
$large                : 75em;




// Wrapper -----------------------------

.wrapper {
	@include container;
	padding: 0 3%;
}

//header ------------------------------------
.headwrap {
	  img {
		margin-bottom: 0;
	  }
	  h1 {
		  font-size: 6.1rem;
		  line-height: 105px;
	  }
	 }
  
 //Navigation ------------------------------------
.topnav {
  background: lighten($darkblue, 15);
  nav {
  
		li {
			display: inline;
			float: left;
			text-decoration: none;
		}
  
  @include at-breakpoint($small) {
	@include horizontal-list;
  }
    li {
      i {
        color: lighten($yellow, 20);
        padding-right: .5em;
      } //icons

      a {
	@include single-transition(all, .5s, ease-out);
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $paleryellow;
		
		&:hover {
			background: $orange;
			a{
				color: $yellow, 30;
			}
		}
		
      } //a
    } //li
  } //nav
} // navigation


// Columns --------------------------------

.columns {
	width: 100%;
	margin-top: 30px;
	background: $blue;
	clear: both;
	
	.col1 {
		float: left;
		height: 700px;
		width: 20%;
		max-width: 200px;
		background: $orange;
		padding: 0 3%;
		margin: 0 3%;
	}
	.col2 {
		float: left;
		height: 700px;
		width: 20%;
		max-width: 200px;
		background: $red;
		padding: 0 3%;
		margin: 0 3%;
	}
	.col3 {
		float: left;
		height: 700px;
		width: 20%;
		max-width: 200px;
		background: $green;
		padding: 0 3%;
		margin: 0 3%;
	}
	.col4 {
		float: left;
		height: 700px;
		width: 20%;
		max-width: 200px;
		background: $cyan;
		padding: 0 3%;
		margin: 0 3%;
	}
	
} // columns

// Footer -----------------------------

footer {
  color: $paleyellow;
  background: lighten($darkblue, 3);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  
	.footwrap{
	
		  margin-top: 744px;
		  margin-left: 24px;
    nav {
  
		li {
			display: inline;
			float: left;
			text-decoration: none;
		}
  
  @include at-breakpoint($small) {
	@include horizontal-list;
  }
    li {
      i {
        color: lighten($yellow, 20);
        padding-right: .5em;
      } //icons

      a {
	@include single-transition(all, .5s, ease-out);
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $paleryellow;
		
		&:hover {
			background: $orange;
			a{
				color: $yellow, 30;
			}
		}
		
      } //a
    } //li
  } //nav
	}
  
  
} // footer 
